* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --primary-color: #5e9184;
  --secondary-color: #18473c;
  --accent-color: #f4f4f4;
}

html  {
  font-family: 'Roboto', sans-serif;
  color: var(--accent-color);
  text-align: center;
  letter-spacing: 0.0625em;
}

body {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  align-items: center;
  align-content: center;
  text-align: center;
}

main.container {
  text-align: left;
  padding: 1rem;
  padding-bottom: 3rem;
}

main .columns {
  display: flex;
}

main img.main-logo {
  max-height: 200px;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

main .column.right {  
  max-width: 500px;
  padding: 2.3rem 1rem;
  border-left: 2px solid var(--accent-color);
}

main .column.right h1#greeting {
  font-size: 2rem;
  padding-bottom: 1rem;
}

main .bio {
  font-size: 1.2rem;
  padding-bottom: 50px;
}

main.container#notfound {
  text-align: center;
}

main.container p#fouronefour {
  font-size: 20rem;
  font-weight: 600;
  color: var(--secondary-color);
  opacity: 0.2;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  max-height: 3rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 0.5rem;
}

footer a {
  text-decoration: none;
}

footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

a.social {
  padding: 0 0.5rem;
  font-size: 2rem;
  text-align: center;
  filter: brightness(1.4);
}

.hover {
  -webkit-transition: all 0.3s ease-in; 
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

@supports(padding: max(0px)) {
  footer {
    padding-bottom: max(0.5rem, env(safe-area-inset-bottom));
  }
}

@media (hover: hover) {
  .hover:hover {
    -webkit-transition: all 0.3s ease-out; 
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  a.social:hover {
    filter: brightness(1.0);
  }

  .fa-github:hover {
    color: #fafafa;
  }

  .fa-linkedin:hover {
    color: #0a66c2;
  }

  .fa-twitter:hover {
    color: #1d9bf0;
  }

  .fa-stack-overflow:hover {
    color: #F48024;
  }
}

@media screen and (max-width: 992px) {
  main.container {
    text-align: center;
  }
  
  main .columns {
    flex-direction: column;
  }

  main img.main-logo {
    max-height: 150px;
    margin-right: 0;
  }

  main .column.right {  
    align-items: right;
    justify-content: top;
    padding: 0;
    padding-bottom: 1rem; 
    border-left: none;
    min-height: 300px;
    max-width: 350px;
  }

  main.container p#fouronefour {
    font-size: 10rem;
  }
}